main.v-main{
    background: none;
}
html {
    background-image: linear-gradient(var(--light-blue), var(--dark-blue));
}
body {
    background: url("../images/body-bg.png") no-repeat top center;
    background-size: cover;
}
.theme--light.v-application{
    font-family: 'Arial-Narow';
    color: white;
    background: none;
}
@media all and (max-width: 425px) {
    body {
        background-image: url("../images/body-bg-mobile.png");
    }
}